* { 
  font-family: 'MuseoModerno', cursive;
  background-color: #232526; 
  color: #eef2f3;
}
body { 
  margin: 0;
}
.btn-mode{
  width: 40px; height: 40px;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: .5s;
  display: flex;
  right: 15px;
  top: 15px;
}
/* tamaño de letra y cursor del boton */
.material-icons { font-size: 35px !important;cursor: pointer; }
section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
  margin: 20px 0 0 0;
}
section .text {
  grid-column: 1/2;
  height: 10px;
  text-align: justify;
  justify-content: center;
  padding: 0 3rem 0 3rem;
}
.text h1 { font-size: 34px; }
.text h2 { font-size: 24px; }
.text span { color: rgb(218, 84, 151); }

section .game {
  margin-top: 30px;
  grid-column: 2/4;
}
.game .score-box {
  width: 90%;
  height: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.score-box button {
  border-radius: 20px;
  border: solid 2px white;
  font-size: 18px;
  height: 40px;
  width: 90px;
  transition: .5s;
  cursor: pointer;
  outline: none;
}
.score-box button:hover{ background-color: white; color: #232526; }
.game .game-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.game-box .box{
  width: 30%;
  height: 12rem;
  margin: 4rem 0 0 10%;
  transition: .5s;
  cursor: pointer;
  border-radius: 20px;
}

/* buttons colors */
.game-box .b1 { background-color: #00acee; }
.game-box .b2 { background-color: #25d366; }
.game-box .b3 { background-color: #bd081c; }
.game-box .b4 { background-color: #6441a5; }

 audio { display: none; }